<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.linus.lms.auth">

    <application>
        <activity android:name=".ui.platform.AuthActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>
    </application>
</manifest>